[project]
name = "file-organizer"
version = "2.0.2"
description = "A script originally intended to organize my Downloads folder."
readme = "README.md"
requires-python = ">=3.14"
dependencies = []

[dependency-groups]
dev = [
    "mypy>=1.19.1",
    "pytest>=9.0.2",
]
